/*=================
    COLOR SYSTEM
=================*/

$primary-color: #71a1c9;
$error-color: #ea5c67;
$warning-color: #fd8c00;
$success-color: #01b294;

/*=================
    BREAKPOINT
=================*/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 640px;

// Small tablets (portrait view)
$screen-md-min: 1024px;

// Tablets and small desktops
$screen-lg-min: 1440px;

// Large tablets and desktops
$screen-xl-min: 1920px;
